// ==============================
// Post Code
// ==============================

code, pre {
  padding: 0.5rem;
  font-size: $code-font-size;
  font-family: ui-monospace, Menlo, Consolas, monospace;
}

code {
  padding: 2px 2px;
  border-radius: 4px;
  background-color: rgba(175,184,193,0.2);
  color: #24292f;
}

.highlight {
  margin: 0.3rem 0 0.3rem 0;
  background-color: #171515;
  border-radius: .5rem;
  overflow: hidden;

  table {
    background-color: rgba(175, 184, 193, 0.2);
    border: 0;
    position: relative;
    max-width: 100%;

    &::after {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 2px 5px;
      font-size: $code-font-size;
      font-weight: bold;
      color: $gray;
      background: darken($deputy-color, 3%);
      content: 'Code';
    }
  }

  .code {
    pre {
      margin: 0;
    }
  }

  .gutter {
    width: 0.625rem;
    color: $gray;

    pre {
      margin: 0;
      padding: 2rem 0.5rem 0.5rem;
    }
  }

  .line {
    // color: #eeeeee;
    color: #EAEFF2;
    height: round($code-font-size * 1.5);
  }

  table, tr, td {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
  }

  .code {
    .comment,
    .quote {
      color: map-get($code-highlight-color, comment);
    }

    .keyword,
    .selector-tag,
    .addition {
      color: #FAD02C;
      // color: map-get($code-highlight-color, keyword);
    }

    .number,
    .string,
    .meta .meta-string,
    .literal,
    .doctag,
    .regexp {
      color: #5CD85A;
      // color: map-get($code-highlight-color, number);
    }

    .title,
    .section,
    .name,
    .selector-id,
    .selector-class {
      color: map-get($code-highlight-color, title);
    }

    .attribute,
    .attr,
    .variable,
    .template-variable,
    .class .title,
    .type {
      color: #43B0F1;
      // color: map-get($code-highlight-color, attribute);
    }

    .symbol,
    .bullet,
    .subst,
    .meta,
    .meta .keyword,
    .selector-attr,
    .selector-pseudo,
    .link {
      color: map-get($code-highlight-color, symbol);
    }

    .built_in,
    .deletion {
      color: map-get($code-highlight-color, built_in);
    }
  }
}