// ==============================
// Post Header
// ==============================

.post-header {
  // overflow: hidden;
  display: flex;
  margin: 0 0 0.5rem 0;
  justify-content: space-between;

  .post-title {
    padding: 1rem 0;
    font-family: Helvetica, 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    margin: auto 0;
    overflow: hidden;
    align-self: center;
    width: 85%;
    float: left;

    a.post-link:hover {
      transition: 0.2s ease-out;
      transform: translateX(0.25rem);
      color: $theme-color;
    }
  }

  .post-link {
    line-height: 1.3;
    @include underline-from-center;
  }

  .post-time {
    letter-spacing: -1px;
    font-size: 0.875rem;
    font-family: monospace;
    margin: auto 0 auto 1rem;
    color: $dark-gray;
    display: block;
    text-align: right;
  }
}

.post-excerpt {
  h2, h3, h4, h5 { font-weight: normal; }
  p { margin: 0 0 1rem; }
}
