// ==============================
// Archive
// =============================

#archive {
  @include min-screen() { width: 100%; }
  @include not-min-screen() { width: 73%; }
  float: left;
  
  .archive-post+.collection-title {
      margin-top: 2rem;
  }

  .archive-title {
    &.tag,
    &.category {
      padding: 4vh 0 0 0;
      line-height: 100%;

      h1 { @include horizontal-center(); }
    }

    .archive-name {
      margin: 0 auto;
      line-height: 1;
      display: inline-block;
      font-weight: bold;
      font-size: 1.4em;
    }
  }

  .collection-title {
    font-family: $global-font-family;
    font-size: 1.75rem;

    .archive-year {
      margin: 1rem 0;
      font-weight: 400;
      font-size: 1.75rem;
      line-height: 1;
    }
  }

  .archive-post {
    height: 7.7vh;

    .archive-post-time {
      @include horizontal-center();
      float: left;
      overflow: hidden;
      color: #aaa;
      font-family: monospace;
      font-size: 0.875rem;
      margin-right: 1rem;
      letter-spacing: -1px;
      display: block;
    }

    .archive-post-title {
      @include horizontal-center();
      font-size: 1.1rem;
      font-weight: 500;
      padding: 0.5em 0 0.5em 5.5em;
      display: block;
      line-height: 1.1;
      .archive-post-link { color: rgb(51, 51, 51); }
    }

    span.archive-post-title:hover {
      a.archive-post-link {
        color: $theme-color;
      }
    }
  }
}
