
.categories {
  margin: 2em 0 3em;
  text-align: center;
  font-family: $global-font-family;

  .categories-title {
    display: inline-block;
    font-size: 1.125rem;
    color: $theme-color;
    border-bottom: 0.125rem solid $theme-color;
  }

  .categories-tags {
    margin: 0.625rem 0;

    .category-link {
      display: inline-block;
      position: relative;
      margin: 0.3125rem 0.625rem;
      word-wrap: break-word;
      transition-duration: 0.2s;
      transition-property: transform;
      transition-timing-function: ease-out;

      .category-count {
        display: inline-block;
        position: relative;
        top: -0.5rem;
        right: -2px;
        color: $theme-color;
        font-size: 0.75rem;
      }

      &:active,
      &:focus,
      &:hover {
        color: $theme-color;
        transform: scale(1.1);
      }
    }
  }
}