#home {
  @include min-screen() { width: 100%; }
  @include not-min-screen() { width: 76%; } 
}

.on-home {
  &.site-title {
    @include min-screen() { display: none; }
  }

  &.nav-mobile-button {
    @include not-min-screen { display: none; }
  }

  &#sidebar {
    min-width: 8rem;
    max-width: 8rem;
  }

  &.active {
    margin-left: -8rem;
  }

  &.nav-top-items {
    float: left;
  }

  &.post {
    display: grid;

    .home-post-title {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1;
      width: 80%;
      float: left;
      padding: 0.5rem 0 0.5rem 0;
      margin: auto 0;
    }
  }
}

.on-home {
  @include not-min-screen() {
    #sidebarCollapse {
      display: none;
    }
    #sidebar {
      display: none;
    }
  }
}

