.pagination {
  padding: 2vh 0 1vh 0;
  height: 100%;
  @include clearfix;

  .prev, .next {
    max-width: 50%;
    font-weight: 400;
    font-size: 1rem;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
  }

  .prev {
    float: left;

    &:hover {
      color: $theme-color;
      transform: translateX(-0.25rem);
    }
  }

  .next {
    float: right;

    &:hover {
      color: $theme-color;
      transform: translateX(0.25rem);
    }
  }
}
