// ==============================
// Post
// ==============================

.on-post {
  &.nav-top-items {
    float: right;
  }

  &#sidebar {
    background: #ffffff;
    position: fixed;
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
    min-width: 100vw;
    max-width: 100vw;
    z-index: 100;

    #third { 
      padding-top: 6vh;
      width: 90%;

      #sidebar-title {
        height: 1.5rem;
        line-height: 1;
        border-bottom: 0;
        margin: 1rem 1rem 0 1rem;

        #sidebar-title-text { 
          font-size: 1.5rem;
          line-height: 1.5;
          width: 100%; 
        } 
      }
    }
  }

  &.active {
    margin-left: -100vw;
  }
}

@include not-min-screen() { 
  .on-post{
    &#sidebar {
      #third { width: 73%; }
    }
  }
}

.posts {
  margin-bottom: 1.25rem;
  border-bottom: 1px solid $light-gray;
}

.post {
  min-height: 8.3vh;
  .post-excerpt {
    img { padding-top: .3em; }
  }

  @import '_post/header';
  @import '_post/content';
  @import '_post/footer';
}
