#sidebar {
  display: block;
  height: 100vh;
  transition: all 0.25s;

  #sidebar-title {
    width: 100%;
    height: 6vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    #sidebar-title-text {
      @include horizontal-center(); 
      // padding-left: 1vh;
      width: 90%;
      text-align: left;
      display: block;
      font-size: 1rem;
      font-weight: 500;
      margin: auto;
      color: rgba(0, 0, 0, 0.7);
    }
  }

  #third {
    width: 90%;
    // max-width: 7.5rem;
    padding-top: 1rem;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.6);
    
    ol, ul {
      list-style: none;
    }
  }
}