// ==============================
// Widget
// =============================

#secondary {
  @include min-screen() { display: none; }
    
  float: right;
  width: 20%;
  padding-top: 1rem;
	color: rgba(0, 0, 0, 0.6);
  ol, ul { list-style: none; }
}

.widget-area {
  height: 100%;
  width: 90%;

  .search-form {
    font-size: 0.875rem;
    width: 100%;
  }

  ul {
    margin: 0.6rem 0 0 0;
    padding-left: 0;
  }

  h3{
    margin-top: 0;
    color: #000;
  }

  .widget-url {
    color: rgba(0, 0, 0, 0.6);
  }

  .widget-url:hover {
    color: $theme-color;
  }

  .widget-title {
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0 auto;
  }

  .category-list-item {
    line-height: 1.9;

    .category-list-link {
      color: rgba(0, 0, 0, 0.6);
    }

    .category-list-count {
      padding-left: 0.3rem;
      color: #999;
      font-size: 0.85em;
    }

    .category-list-count:before { content: "("; }
    .category-list-count:after { content: ")"; }
  }
}

.widget-area + .widget-area {
  margin-top: 1rem;
}

.widget_tags {
  .tag-list-item {
    font-size: 0.875rem;
    line-height: 100%;
    border: 1px solid #ffffff;
    padding: 0 0 0.6rem 0;

    .tag-list-link { color: $dark-gray; }
    a:hover { color: $theme-color; }
  }

  .tag-list-count {
    vertical-align: super;
    font-size: .6rem;
    opacity: .9;
    top: -0.5em;
    padding-left: 1px;
  }
}
